{% extends 'base.html' %}

{% block title %}
	Contactenos
{% endblock %}

{% block content %}
	<form action= "." method = "POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type = "submit" value = "submit"/>
	</form>
<hr/>


<select onchange="Dajaxice.examples.updatecombo(Dajax.process, {'option':this.value})" size="1">
    <option value="0">Select...</option>
    <option value="0">Spain</option>
    <option value="1">France</option>
    <option value="2">United Kingdom</option>
</select>
<select id="combo2" onchange="" size="1"></select>	

	
{% endblock %}	
				
		

	
